.contact textarea{
    font-size:16px;
    width:80%;
    min-height:200px;
    margin:20px 0;
    line-height:1.5;
}

.contact button{
    margin-left:80%;
    transform:translateX(-100%);
    display:block;
    border:2px solid gray;
    color:gray;
    border-radius:5px;
    background-color:#fff;
    cursor:pointer;
    padding:15px 20px;
    font-size:20px;
    transition:0.3s;
}

.contact button:hover{
    color:black;
    border-color:black;
    
}